PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secure_password_here
DB_NAME=tspkthee
DB_SYNC=false
DB_LOGGING=false
CORS_ORIGIN=http://82.146.39.73,http://82.146.39.73:3001
ADMIN_LOGIN=admin
ADMIN_PASSWORD=your_secure_admin_password_here
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=
SWAGGER_ENABLED=true
